<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Toggle Test</title>
</head>
<body>
  <%= button_to [:toggle, @break] do %>
    Toggle Break <strong><%= @break.status %></strong>
  <% end %>
   "<form method="post" action="/users/1/make_happy" class="button_to">
        <button type="submit">
          Make happy <strong><%= @break.status %></strong>
        </button>
      </form>"
</body>
</html>